<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <title>TourBuddy</title>
</head>

{% include 'tourbuddy/style.html' %}

<body class="font-myFont">
    {% include 'topbar_admin.html' %}


    <div class="relative">
        <img class="rounded-lg h-96 w-full border object-cover transition-all duration-300 blur-sm hover:blur-none"
            src="https://besthqwallpapers.com/Uploads/22-6-2022/200832/thumb2-4k-aerial-view-paradise-surf-waves.jpg"
            alt="" />
    </div>

    <div
        class="overflow-hidden absolute top-96 left-1/2 transform -translate-x-1/2 shadow-2xl text-center sm:top-48 sm:w-full">
        <div class="text-3xl md:text-4xl sm:text-5xl text-black">ท่องเที่ยวจังหวัดอุบลราชธานี</div>
    </div>

    <div
        class="overflow-hidden absolute top-96 sm:top-80 left-1/2 transform -translate-x-1/2 shadow-2xl bg-white rounded-3xl">
        <div class="p-6">
            <h5 class="mb-2 text-xl font-medium leading-tight">
                สวัสดีผู้ดูแลระบบ
            </h5>

        </div>
    </div>

    {% block content %}
    <div class="rounded-3xl max-w-screen-xl mt-32 mx-auto p-5 sm:p-10 md:p-16 bg-[#e5e6d6] mb-20">

        <div class="border-b mb-5 flex justify-between text-sm">
            <div class="text-indigo-600 flex items-center pb-2 pr-2 border-b-2 border-indigo-600 uppercase">
                <div class="mr-2 text-xl text-green-900">
                    <i class="fa-solid fa-mountain"></i>
                </div>
                <a href="#" class="font-semibold inline-block">สวัสดีผู้ดูแลระบบ</a>
            </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
            {% for i in data_page %}
            <div
                class="rounded-lg bg-white overflow-hidden shadow-lg flex flex-col transform transition duration-300 ease-in-out hover:scale-110">
                <a href="#"></a>
                <div class="relative">
                    <a href="{% url 'details' i.id %}">
                        <img class="w-full" style="height: 250px; object-fit: cover;" src="{{i.image}}"
                            alt="Sunset in the mountains">
                        <div
                            class="absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25 hover:bg-transparent transition duration-300">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-yellow-400 rounded-full px-4 py-2 text-black mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            {{i.rating}}
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">
                        {{i.name }}</a>
                    <p class="text-gray-500 text-sm">
                        {{i.g_type}}
                    </p>
                </div>
                    <div class="flex justify-end mr-2">
                        <div class="text-yellow-300 text-3xl mr-5">
                            <a href="{% url 'update_trip' i.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="text-red-500 text-3xl">
                            <a href="{% url 'delete' i.id %}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
            </div>
            {%endfor%}
        </div>
        <div class="flex justify-center mt-20 mb-32">
            <div id="pagination" data-pages="{{ data_page.paginator.num_pages }}" data-current="{{ data_page.number }}">

            </div>
        </div>


    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const paginationElement = document.getElementById('pagination');
            const totalPages = parseInt(paginationElement.getAttribute('data-pages'));
            const currentPage = parseInt(paginationElement.getAttribute('data-current'));
            const paginationContainer = document.querySelector('.flex.justify-center.mt-20');

            for (let page = 1; page <= totalPages; page++) {
                if (page == currentPage || page == currentPage - 1 || page == currentPage + 1 || page == 1 || page == totalPages) {
                    const link = document.createElement('a');
                    link.href = `?page=${page}`;
                    link.textContent = page;
                    link.classList.add('py-2', 'px-4', 'mx-1', 'rounded');
                    if (page == currentPage) {
                        link.classList.add('bg-blue-500', 'text-white');
                    } else {
                        link.classList.add('hover:bg-blue-400');
                    }
                    paginationContainer.appendChild(link);
                }
            }
        });
    </script>



    <script type="text/javascript">
        window.openModal = function (modalId) {
            document.getElementById(modalId).style.display = 'block'
            document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
        }

        window.closeModal = function (modalId) {
            document.getElementById(modalId).style.display = 'none'
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
        }

        // Close all modals when press ESC
        document.onkeydown = function (event) {
            event = event || window.event;
            if (event.keyCode === 27) {
                document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
                let modals = document.getElementsByClassName('modal');
                Array.prototype.slice.call(modals).forEach(i => {
                    i.style.display = 'none'
                })
            }
        };
    </script>




    {% endblock %}
</body>

</html>