{% extends 'TourBuddy/home.html' %}

{% block content %}

<a href="{%url 'data_map'%}">
    <div class="slider mt-6">
        <div class="slides">
            <div class="slide">
                <img src="https://my.kapook.com/imagescontent/fb_img/340/s_174815_3195.jpg" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="https://img.wongnai.com/p/1920x0/2023/05/11/494f941906324af29e745e4a6396b824.jpg"
                    alt="Slide 2">
            </div>
            <div class="slide">
                <img src="https://reviewnortheast.com/ubonratchathani/pic/coversocial.jpg" alt="Slide 3">
            </div>
        </div>
        <div class="slider-controls">
            <button class="slider-control" onclick="prevSlide()">❮</button>
            <button class="slider-control" onclick="nextSlide()">❯</button>
        </div>
    </div>
</a>

<form action="{% url 'data_filter' %}" method="get" class="flex items-center justify-center mt-6">
    {% csrf_token %}
    <div class="flex items-center">
        <select name="trip_type"
            class="bg-gray-400 text-white rounded-full py-2 px-4 focus:outline-none focus:bg-gray-500">
            <option value="">All</option>
            {% for t in types %}
            <option value="{{ t.trip_type }}">{{ t.trip_type }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="ml-2 bg-gray-400 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
        กรอง
    </button>
</form>

<div class="grid grid-cols-4 gap-4 justify-between mt-20 ml-20 mr-20">
    {% for trip in filter.qs %}
    <div
        class="mb-10 max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-transform duration-300 bg-white">
        <a href="{%url 'details' trip.id %}"><img class="w-full" style="height: 250px; object-fit: cover;"
                src="{{trip.image}}" alt="Sunset in the mountains"></a>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{trip.name}}</div>
            <p class="text-gray-700 text-base">
                {{trip.rating}} ⭐
            </p>
            <p class="text-gray-700 text-base">
                {{trip.g_type}}
            </p>
            <a href="{%url 'details' trip.id %}">อ่านต่อ</a>
        </div>
        {% if user.is_authenticated %}
        <input type="checkbox" id="heart-toggle{{ forloop.counter }}" class="hidden heart-toggle"
            data-tour-id="{{ trip.id }}" {% if user_clicked %}checked{% endif %} />
        <label class="label" for="heart-toggle{{ forloop.counter }}">
            {% if user_clicked %}
            <i class="fa-solid fa-heart" style="color: red;"></i>
            {% else %}
            <i class="fa-regular fa-heart"></i>
            {% endif %}
        </label>
        {% endif %}
    </div>

    {% endfor %}
    <script>
        // หากคลิกที่หัวใจ
        document.querySelectorAll('.heart-toggle').forEach(function (heartToggle) {
            heartToggle.addEventListener('change', function () {
                var tourId = this.getAttribute('data-tour-id');
                var csrfToken = '{{ csrf_token }}';

                // ส่งคำขอไปยัง URL ที่เซิร์ฟเวอร์ให้บันทึกข้อมูล
                fetch('/create_TouristNode/' + tourId + '/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken
                    }
                })
                    .then(response => {
                        // ตรวจสอบการตอบกลับจากเซิร์ฟเวอร์
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // อัปเดตสถานะหัวใจของผู้ใช้
                        if (data.success) {
                            this.nextElementSibling.querySelector('i.fa-regular').style.display = 'none';
                            this.nextElementSibling.querySelector('i.fa-solid').style.display = 'inline';
                            this.checked = true;
                        } else {
                            throw new Error('Failed to update user heart status');
                        }
                    })
                    .catch(error => {
                        console.error('There was an error!', error);
                    });
            });
        });
    </script>
    {%endblock%}