{% extends 'TourBuddy/home.html' %}

{% block content %}

<div class="container relative left-1/2 transform -translate-x-1/2">
  <div id="map" class="absolute top-0 left-0 w-full h-full z-10" style="height: 600px;"></div>
  <div class="relative flex flex-col mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 z-20"
    style="background-color: rgba(255, 255, 255, 0.719);">
    <div
      class="relative h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
      <img src="{{ data.image }}" alt="card-image" style="width: 100%; height: 100%; object-fit: cover;" />
    </div>
    <div class="p-6">
      <h5
        class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        {{ data.name }}
      </h5>
      <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
        ประเภท: {{ data.g_type }}
      </p>
      <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
        {{ data.rating }}⭐คะแนนรีวิว{{ data.review }}
      </p>
    </div>
    <div class="p-6 pt-0">

    </div>
  </div>
</div>

{{ place|json_script:"place_json" }}

<script>
  var placeData = JSON.parse(document.getElementById('place_json').textContent);

  var map = L.map('map').setView([placeData.latitude, placeData.longitude], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  L.marker([placeData.latitude, placeData.longitude]).addTo(map);

</script>

{% endblock %}