<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <title>TourBuddy</title>
    {% include 'TourBuddy/stylecss.html' %}
</head>

<body class="bg-gray-200">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{%url 'home'%}">
                <div class="custom-icon">
                    <i class="fas fa-map-location-dot icon"></i>
                    <div class="text">TourBuddy</div>
                </div>
            </a>

            {% if user.is_authenticated %}
            <div class="flex items-center space-x-4">
                <div class="text-white">{{ user.first_name }} {{ user.last_name }}</div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon"
                    class="w-6 h-6">
                    <path fill-rule="evenodd" fill="white"
                        d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                        clip-rule="evenodd" />
                </svg>


                <a href="{% url 'logout' %}">
                    <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">
                        ออกจากระบบ
                    </button>
                </a>
            </div>
            {% else %}
            <div class="flex items-center space-x-4">
                <a href="{% url 'register' %}">
                    <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
                        สมัครสมาชิก
                    </button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
                        เข้าสู่ระบบ
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    {%block content%}
    <main>
        <a href="{%url 'data_map'%}">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="https://my.kapook.com/imagescontent/fb_img/340/s_174815_3195.jpg" alt="Slide 1">
                    </div>
                    <div class="slide">
                        <img src="https://img.wongnai.com/p/1920x0/2023/05/11/494f941906324af29e745e4a6396b824.jpg"
                            alt="Slide 2">
                    </div>
                    <div class="slide">
                        <img src="https://reviewnortheast.com/ubonratchathani/pic/coversocial.jpg" alt="Slide 3">
                    </div>
                    <!-- เพิ่มภาพสไลด์เพิ่มเติมตามต้องการ -->
                </div>
                <div class="slider-controls">
                    <button class="slider-control" onclick="prevSlide()">❮</button>
                    <button class="slider-control" onclick="nextSlide()">❯</button>
                </div>
            </div>
        </a>


        <div class="flex justify-center items-center space-x-4 mt-6">
            <form action="{% url 'data_filter' %}" method="get" class="flex items-center justify-center">
                {% csrf_token %}
                <div class="flex items-center">
                    <select name="trip_type"
                        class="bg-gray-400 text-white rounded-full py-2 px-4 focus:outline-none focus:bg-gray-500">
                        <option value="">All</option>
                        {% for t in types %}
                        <option value="{{ t.trip_type }}">{{ t.trip_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit"
                    class="ml-2 bg-gray-400 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
                    กรอง
                </button>
            </form>

            <form action="{%url 'search'%}" method="get" class="flex items-center justify-center"
                style="margin-left: 10px;">
                {%csrf_token%}
                <div class="relative">
                    <input type="text" name="query" placeholder="ค้นหา"
                        class="bg-gray-500 text-white rounded-full py-2 px-4 pl-10 focus:outline-none focus:bg-gray-600">
                    <div class="absolute top-0 left-3 flex items-center h-full">
                        <svg class="w-5 h-5 text-gray-400" fill="none" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                </div>
            </form>
        </div>




        {% if query %}
        <div class="grid grid-cols-4 gap-4 justify-between mt-20 ml-20 mr-20">
            {%for i in results%}
            <div
                class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-transform duration-300 bg-white">
                <img class="w-full" style="height: 250px; object-fit: cover;" src="{{i.image}}"
                    alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{i.name}}</div>
                    <p class="text-gray-700 text-base">
                        {{i.rating}} ⭐
                    </p>
                    <p class="text-gray-700 text-base">
                        {{i.g_type}}
                    </p>
                    <a href="{%url 'details' i.id %}">อ่านต่อ</a>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
            </div>
            {%empty%}
            <div>
                ไม่พบ
            </div>
            {%endfor%}
        </div>


        {% else %}

        <div class="grid grid-cols-4 gap-4 justify-between mt-20 ml-20 mr-20">
            <!-- HTML -->
            <!-- {% for i in data_page %}
            <div
                class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-transform duration-300 bg-white">
                <a href="{% url 'details' i.id %}">
                    <img class="w-full" style="height: 250px; object-fit: cover;" src="{{i.image}}"
                        alt="Sunset in the mountains">
                </a>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{i.name}}</div>
                    <p class="text-gray-700 text-base">
                        {{i.rating}} ⭐
                    </p>
                    <p class="text-gray-700 text-base">
                        {{i.g_type}}
                    </p>
                    <a href="{% url 'details' i.id %}">อ่านต่อ</a>
                </div>

                {% if user.is_authenticated %}
                <input type="checkbox" id="heart-toggle{{ forloop.counter }}" class="hidden heart-toggle" />
                <label class="label" for="heart-toggle{{ forloop.counter }}">
                    {% if user_clicked %}
                    <a href="{% url 'create_TouristNode' i.id %}"><i class="fa-solid fa-heart"></i></a>
                    {% else %}
                    <a href="{% url 'delete_item' i.id %}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                </label>
                {% endif %}
            </div>
            {% endfor %} -->
            {% for i in data_page %}
            <div
                class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-transform duration-300 bg-white">
                <a href="{% url 'details' i.id %}">
                    <img class="w-full" style="height: 250px; object-fit: cover;" src="{{i.image}}"
                        alt="Sunset in the mountains">
                </a>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{i.name}}</div>
                    <p class="text-gray-700 text-base">
                        {{i.rating}} ⭐
                    </p>
                    <p class="text-gray-700 text-base">
                        {{i.g_type}}
                    </p>
                    <a href="{% url 'details' i.id %}">อ่านต่อ</a>
                </div>

                {% if user.is_authenticated %}
                <input type="checkbox" id="heart-toggle{{ forloop.counter }}" class="hidden heart-toggle"
                    data-tour-id="{{ i.id }}" {% if user_clicked %}checked{% endif %} />
                <label class="label" for="heart-toggle{{ forloop.counter }}">
                    {% if user_clicked %}
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    {% else %}
                    <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </label>
                {% endif %}
            </div>
            {% endfor %}

            <script>
                // หากคลิกที่หัวใจ
                document.querySelectorAll('.heart-toggle').forEach(function (heartToggle) {
                    heartToggle.addEventListener('change', function () {
                        var tourId = this.getAttribute('data-tour-id');
                        var csrfToken = '{{ csrf_token }}';

                        // ส่งคำขอไปยัง URL ที่เซิร์ฟเวอร์ให้บันทึกข้อมูล
                        fetch('/create_TouristNode/' + tourId + '/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrfToken
                            }
                        })
                            .then(response => {
                                // ตรวจสอบการตอบกลับจากเซิร์ฟเวอร์
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // อัปเดตสถานะหัวใจของผู้ใช้
                                if (data.success) {
                                    this.nextElementSibling.querySelector('i.fa-regular').style.display = 'none';
                                    this.nextElementSibling.querySelector('i.fa-solid').style.display = 'inline';
                                    this.checked = true;
                                } else {
                                    throw new Error('Failed to update user heart status');
                                }
                            })
                            .catch(error => {
                                console.error('There was an error!', error);
                            });
                    });
                });
            </script>



        </div>

        {%endif%}

        <div class="flex justify-center mt-20">
            <div x-data="pagination()" x-init="init()">
                <template x-for="page in pages" :key="page">
                    <template
                        x-if="page == current || page == current - 1 || page == current + 1 || page == 1 || page == pages.length">
                        <a :href="'?page=' + page" x-text="page"
                            :class="{ 'bg-blue-500 text-white': page == current, 'hover:bg-blue-400': page != current }"
                            class="py-2 px-4 mx-1 rounded"></a>
                    </template>
                </template>
            </div>
        </div>

        <script>
            function pagination() {
                return {
                    current: 1,
                    pages: [],
                    init() {
                        const totalPages = parseInt('{{ data_page.paginator.num_pages }}');
                        this.pages = Array.from({ length: totalPages }, (_, index) => index + 1);
                        this.current = parseInt('{{ data_page.number }}');
                    },
                };
            }
        </script>
        <!-- <div class="flex justify-center mt-20">
            <div x-data="pagination()" x-init="init()">
                <template x-for="page in pages" :key="page">
                    <template x-if="shouldDisplayPage(page)">
                        <a :href="'?page=' + page" x-text="page"
                            :class="{ 'bg-blue-500 text-white': page == current, 'hover:bg-blue-400': page != current }"
                            class="py-2 px-4 mx-1 rounded"></a>
                    </template>
                </template>
            </div>
        </div>

        <script>
            function pagination() {
                return {
                    current: 1,
                    pages: [],
                    init() {
                        const totalPages = parseInt('{{ data_page.paginator.num_pages }}');
                        this.pages = Array.from({ length: totalPages }, (_, index) => index + 1);
                        this.current = parseInt('{{ data_page.number }}');
                    },
                    shouldDisplayPage(page) {
                        // Check if page is within current page, previous page, next page, first page, or last page
                        return (
                            page == this.current ||
                            page == this.current - 1 ||
                            page == this.current + 1 ||
                            page == 1 ||
                            page == this.pages.length
                        );
                    }
                };
            }
        </script> -->



        <div class="video-container justify-between mt-20 ml-20 mr-20">
            <iframe src="https://www.youtube.com/embed/Ll17TDkZlys" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </main>
    {%endblock%}

    <script>
        let currentSlide = 0;

        function showSlide(index) {
            const slides = document.querySelector('.slides');
            const totalSlides = document.querySelectorAll('.slide').length;

            if (index >= totalSlides) {
                currentSlide = 0;
            } else if (index < 0) {
                currentSlide = totalSlides - 1;
            } else {
                currentSlide = index;
            }

            const translateValue = -currentSlide * 100 + '%';
            slides.style.transform = 'translateX(' + translateValue + ')';
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        setInterval(nextSlide, 5000); // อัตโนมัติเปลี่ยนภาพทุก 5 วินาที


    </script>






</body>

</html>