{% extends 'TourBuddy/home.html' %}

{% block content %}

<div id="map" style="height: 100vh; width: 100vw;"></div>


<script>
    var map = L.map('map').setView([15.2302166, 104.8572949], 10);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function resizeMap() {
        var mapElement = document.getElementById('map');
        mapElement.style.height = window.innerHeight + 'px';
        mapElement.style.width = window.innerWidth + 'px';
        map.invalidateSize();
    }

    window.addEventListener('resize', resizeMap);
    resizeMap();

    let places = JSON.parse(document.getElementById('places_json').textContent);
    let userLocations = JSON.parse(document.getElementById('user_locations_json').textContent);

    places.forEach(place => {
        L.marker([place.trip__latitude, place.trip__longitude]).addTo(map)
            .bindPopup(`<b>${place.trip__name}</b><br><img src="${place.trip__image}" width="100">`);
    });

</script>


{% endblock %}